<form #form="ngForm">
    <div class="row">
        <div class="col-4 offset-md-8 fixHeight">
            <button type="button" class="btn btn-primary btn-block" *ngIf="editMode" [routerLink]="['/']">Add New
            </button>
        </div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Color</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <input type="number" class="form-control" name="id" [(ngModel)]="data.id" required/>
                    </th>
                    <td>
                        <input type="text" class="form-control" name="title" [(ngModel)]="data.title" required/>
                    </td>
                    <td>
                        <input type="color" class="form-control" name="color" [(ngModel)]="data.color" required/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <textarea name="text" class="form-control" [(ngModel)]="data.text" cols="30" rows="5"></textarea>
        </div>
        <div class="col-2" [class.offset-md-8]="editMode" [class.offset-md-10]="!editMode">
            <button type="button" class="btn btn-success btn-block" (click)="addOrUpdateData()">{{editMode ? 'Update' : 'Add'}}</button>
        </div>
        <div class="col-2" *ngIf="editMode">
            <button type="button" class="btn btn-danger btn-block" (click)="deleteData()">Delete</button>
        </div>
    </div>
</form>
