<div class="card" [@hover]="{value: rla.isActive ? 'mouseenter' : hoverState, params:{color: data.color}}"
     #rla="routerLinkActive"
     [routerLink]="['/' + data.id]"
     routerLinkActive
     [ngStyle]="rla.isActive ? {'background': data.color} : {}">
    <div class="row">
        <div class="col-3"><h2>#{{data.id}}</h2></div>
        <div class="col-9">
            <div class="row">
                <div class="col-12"><h1>{{data.title}}:</h1></div>
                <div class="col-12"><p>further more</p></div>
            </div>
        </div>
    </div>
</div>